.classpath
.project
.settings
.DS_Store
dependency-reduced-pom.xml
target/
*.iml
*.ipr
*.iws
/*/src/main/java/META-INF
.gitignore.swp
.idea
.factorypath
atlassian-ide-plugin.xml
bin/
!dist/src/main/resources/bin
