.classpath
.project
.settings
.DS_Store
dependency-reduced-pom.xml
target/
*.iml
*.ipr
*.iws
/*/src/main/java/META-INF
.gitignore.swp
docs/reference/src/main/docbook/en-US/version_info.xml
.idea
.forge_settings
.factorypath
atlassian-ide-plugin.xml
