name: GitHub CI

on:
  pull_request:
    branches:
    - master
    - v28
  push:
    branches:
    - master

jobs:
  Build:
    strategy:
      matrix:
        java: [ 11.0.x, 17]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Cache local Maven repository
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-      

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}

    - name: Build with Maven
      run: mvn install
