name: GitHub CI

on: [push]

jobs:
  Build:
    strategy:
      matrix:
        java: [ 1.8, 11, 12, 13, 14 ]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Build with Maven
      run: mvn -B install --file pom.xml
